@import url('https://fonts.googleapis.com/css?family=Raleway');

nav {
  background-color: white;
  padding: 0.5rem 0;
  font-family: 'Raleway', sans-serif;
}

.btn-primary,
.btn-primary:active {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: white !important;
  color: black !important;
  border: 0px;
  border-radius: 0px;
  font-size: 0.9em;
}

.btn-primary:hover {
  background-color: white;
  border: 0.1rem solid black !important;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.logo {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-image: url('jpg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.about {
padding: 0;
margin: 0px;
}
